<h4>Patient Details</h4>

<div class="container">
	<div class="row">
		<div class="col-sm-4"><strong>Name</strong></div>
		<div class="col-sm-4"><%= @patient.first_name %></div>
	</div>
	<div class="row">	
		<div class="col-sm-4"><strong>Email</strong></div>
		<div class="col-sm-4"><%= @patient.email %></div>
	</div>	
	<div class="row">
		<div class="col-sm-4"><strong>Age</strong></div>
		<div class="col-sm-4"><%= @patient.age %></div>
	</div>	
	<div class="row">
		<div class="col-sm-4"><strong>Contact no</strong></div>
		<div class="col-sm-4"><%= @patient.phone_no %></div>
	</div>	
	<div class="row">	
		<div class="col-sm-4"><strong>Adress</strong></div>
		<div class="col-sm-4"><%= @patient.address %></div>
	</div>
</div>